<div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-2">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKPEgYPvVtoXQwxutJyKChdlyA6Uu4vqjRoph3leZzc7Yt2y8wA&s" class="card-img-top" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Detect Your Kidney Stones</h5>
                                        <p class="card-text"></p>

                                        <h3>Rs 8500</h3>
                                        <button class="btn btn-primary stretched-link">View Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </div>


