<div class="row justify-content-center mt-5">
    <div class="col col-md-8 col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-header">Register</div>
            <div class="card-body">
                <form [formGroup]="patientEditForm" (submit)="onPatientEditFormSubmit()">

                    <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" formControlName="username" class="form-control">
                                        <span class="validation-error" *ngIf="username.touched && username.hasError('required')">First name cannot be empty</span>
                                        <span class="validation-error" *ngIf="username.hasError('maxlength')">Lastname cannot exceed 50 characters.</span>
                                        <span class="validation-error" *ngIf="username.hasError('pattern')">Special Characters are not allowed</span>
                                    </div>
                                </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" name="firstname" formControlName="firstname" class="form-control">
                                <span class="validation-error" *ngIf="firstname.touched && firstname.hasError('required')">First name cannot be empty</span>
                                <span class="validation-error" *ngIf="firstname.hasError('maxlength')">Lastname cannot exceed 50 characters.</span>
                                <span class="validation-error" *ngIf="firstname.hasError('pattern')">Special Characters are not allowed</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="firstname" formControlName="lastname" class="form-control">
                                <span class="validation-error" *ngIf="lastname.touched && lastname.hasError('required')">Last name cannot be empty</span>
                                <span class="validation-error" *ngIf="lastname.hasError('maxlength')">Lastname cannot exceed 50 characters.</span>
                                <span class="validation-error" *ngIf="lastname.hasError('pattern')">Special Characters are not allowed</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="text" name="age" formControlName="age" class="form-control">
                                <span class="validation-error" *ngIf="age.touched && age.hasError('required')">Age  cannot be empty</span>
                                <span class="validation-error" *ngIf="age.hasError('maxlength')">Age cannot exceed 2 characters.</span>
                                <span class="validation-error" *ngIf="age.hasError('pattern')">Enter only Numeric Values</span>
                            </div>
                        </div>


                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <label for="gender">Gender</label>
                                <div>
                                    <label for="male"><input type="radio" formControlName="gender" name="gender" id="gender"
                                            value="true">Male</label>
                                    <label for="female"><input type="radio" formControlName="gender" name="gender" id="gender"
                                            value="female">Female</label>
                                </div>
                               
                            </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="dateOfBirth">Date Of Birth</label>
                                <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control"
                                    formControlName="dateOfBirth">
                                    <span class="validation-error" *ngIf="dateOfBirth.touched && dateOfBirth.hasError('required')">Age  cannot be empty</span>
                
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="contactNo">Contact No.</label>
                                <input type="text" formControlName="contactNo" class="form-control">
                               
                                <span class="validation-error" *ngIf="contactNo.touched && contactNo.hasError('required')">COntact No  cannot be empty</span>
                                <span class="validation-error" *ngIf="contactNo.hasError('maxlength')">Contact No cannot exceed 10 characters.</span>
                                <span class="validation-error" *ngIf="contactNo.hasError('pattern')">Only numbers can be entered</span>
                            </div>

                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="altContactNo">Alternate Contact No.</label>
                                <input type="number" formControlName="altContactNo" class="form-control"
                                    name="altContactNo" id="altContactNo">
                                    <span class="validation-error" *ngIf="altContactNo.hasError('pattern')">Only numbers can be entered</span>
                                
                            </div>
                        </div>


                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" formControlName="email" name="email" id="email" class="form-control">
                                <span class="validation-error" *ngIf="email.touched && email.hasError('required')">Email  cannot be empty</span>
                                <span class="validation-error" *ngIf="email.hasError('maxlength')">Age cannot exceed 50 characters.</span>
                                <span class="validation-error" *ngIf="email.hasError('email')">Not in correct Format</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" name="password" id="password"
                                    class="form-control">
                                    <span class="validation-error" *ngIf="password.touched && password.hasError('required')">password is mandatory</span>
                                    <span class="validation-error" *ngIf="password.hasError('maxlength')">Password cannot exceed 15 characters.</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="address1">Address 1</label>
                                <input type="text" class="form-control" name="address1" id="address1"
                                    formControlName="address1">
                                    <span class="validation-error" *ngIf="address1.touched && address1.hasError('required')">Address1  cannot be empty</span>
                                    <span class="validation-error" *ngIf="address1.hasError('maxlength')">Address1 cannot exceed 100 characters.</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">

                            <div class="form-group">
                                <label for="address2">Address 2</label>
                                <input type="textarea" class="form-control" name="address2" id="address2"
                                    formControlName="address2">
                                    <span class="validation-error" *ngIf="address2.hasError('maxlength')">Address2 cannot exceed 100 characters.</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" id="city" formControlName="city">
                                <span class="validation-error" *ngIf="city.touched && city.hasError('required')">City name cannot be empty</span>
                                <span class="validation-error" *ngIf="city.hasError('maxlength')">City name cannot exceed 50 characters.</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" id="state" formControlName="state">
                                <span class="validation-error" *ngIf="state.touched && state.hasError('required')">State name cannot be empty</span>
                                <span class="validation-error" *ngIf="state.hasError('maxlength')">State name cannot exceed 50 characters.</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="zipcode">Zipcode</label>
                                <input type="text" class="form-control" name="zipcode" id="zipcode"
                                    formControlName="zipcode">
                                    <span class="validation-error" *ngIf="zipcode.touched && zipcode.hasError('required')">Zipcode  cannot be empty</span>
                                    <span class="validation-error" *ngIf="zipcode.hasError('maxlength')">Zipcode cannot exceed 10 characters.</span>
                                    <span class="validation-error" *ngIf="zipcode.hasError('pattern')">ZipCode can only accept Numbers</span>
                            </div>
                        </div>

                        </div>
                    <div class="row">
                            <input type="submit" class="btn btn-danger" value="Register">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
