.btn{
    height:100px;
    width:100%;
    margin:15px;
    color:white;
    vertical-align:middle;
    font-size: 30px;
}
.card{
    background:transparent;
    border:0px;

}
.admin{
    background-color: rgba(8, 112, 112, 0.486);
    vertical-align:middle;
}

.doctor{
    background-color:rgba(7, 135, 194, 0.562);
}

.patient{
    background-color:rgba(105, 10, 143, 0.514);
}

.agent{
    background-color: rgba(82, 117, 11, 0.479);
}

a{
    vertical-align:middle;
}