.navbar{
    background: rgba(0.2,0.1,0.4,0.5);
    color: white;
    border:1px solid black;
 }
 .dicon{
     vertical-align: auto
 }

 .navbar-brand{
     margin:5px;
     padding:5px;
     background: rgba(20, 216, 216, 0.8);
     color:white;
     border-radius:10px;
     font-size: 20px;
     vertical-align:middle;
  
 }
 .nav-link{
     color:white;
 }

 .nav-items ul li a {
    position:relative;
    z-index: 1;
  }
  

  .material-icons{
      vertical-align: middle;
  }


  
 

  
  