<div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-2">
        
                <div class="card testimonial-card mt-2 mb-3">
        
                    <img class="card-img-top rounded-circle"
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg">
        
                    <div class="card-body">
                        <h4 class="card-title font-weight-bold">Dr Firstname Lastname</h4>
                        <hr>
                        <div class="card-text">
                            <p><i class="fas fa-quote-left"></i> An experienced doctor in the field of neurology</p>
                            <p>Speciality:</p>
                            <p>Working Hour</p>
                            <p>Hospital Name</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a routerLink="#">
                            <div class="btn btn-dark container-fluid">Book Appointment</div>
                        </a>
                    </div>
        
                </div>
            </div>
        